.hero-title-dark {
  color: #fff;
}

.hero-information-dark {
  color: #fff;
}

.hero-button-dark {
  border: 1px solid #9bb537;
  background: transparent;

  color: #fff;
}

.hero-button-dark:hover,
.hero-button-dark:focus {
  background: #9bb537;
  color: #f8f8f8;
}

.auto-nav-dark div {
  border: 1px solid #fff;
  background: #fff;
}

.content-dark {
  background: #050505;
}

.exit-button-dark > svg {
  stroke: #fff;
}

.form-title-dark {
  color: #fff;
}

.labels-dark {
  color: rgba(255, 255, 255, 0.5);
}

.form-div-dark > input {
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: transparent;
  color: #fff;
}

.form-div-dark > textarea {
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: transparent;
  color: #fff;
}
