.overlay {
  position: fixed;
  top: 0px;
  left: 0px;

  width: 100%;
  height: 100%;
  z-index: 1;

  background: rgba(0, 0, 0, 0.7);

  display: none;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%) scale(0);

  width: 440px;
  padding: 40px;

  border-radius: 15px;
  background: #fff;

  z-index: 2;
}

.active .overlay {
  display: block;
}

.active .content {
  transition: all 300ms ease-in-out;
  transform: translate(-50%, -50%) scale(1);
}

.exit-button {
  position: absolute;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 24px;
  height: 24px;

  top: 15px;
  right: 15px;

  background: transparent;
  border: none;

  transition: background-color 400ms linear, transform 400ms ease-in-out;

  cursor: pointer;
}

.exit-button:hover,
.exit-button:focus {
  transform: scale(1.5) rotate(90deg);
}

.exit-button > svg {
  display: flex;
  justify-content: center;
  align-items: center;

  stroke: #050505;

  width: 24px;
  height: 24px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 18px;
}

.form-div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.form-title {
  color: #050505;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px; /* 122.222% */
  text-transform: uppercase;
}

.labels {
  color: rgba(5, 5, 5, 0.5);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px; /* 128.571% */
}

.form-div > input {
  display: flex;
  width: 360px;
  height: 48px;
  padding: 14px 169px 14px 18px;
  align-items: flex-start;
  gap: 32px;

  border-radius: 15px;
  border: 1px solid rgba(5, 5, 5, 0.2);
}

.form-div > textarea {
  display: flex;
  width: 360px;
  height: 100px;
  padding: 14px 169px 14px 18px;
  align-items: flex-start;
  gap: 32px;

  border-radius: 15px;
  border: 1px solid rgba(5, 5, 5, 0.2);
}

.submit-form {
  display: flex;
  max-width: 360px;
  height: 48px;
  padding: 14px 162px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;

  border: none;
  color: #fff;

  border-radius: 15px;
  background: #9bb537;
}

.submit-form:hover,
.submit-form:focus {
  border: 2px solid black;
  color: black;
}
